# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/

# Build output in the server's public folder
server/public/assets/

# Environment variables
.env
.env.local
.env.*.local
.eslintcache


# Temporary files
tmp/
*.tmp
*.swp

# Editor and IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore Vite cache
node_modules/.vite/
.vite/