name: NASA PROJECT CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js version 20.16.0
        uses: actions/setup-node@v3
        with:
          node-version: '20.16.0'
      - name: Install server dependencies
        run: npm install --prefix server
      - name: Install client dependencies
        run: npm ci --prefix client
      - name: Build client
        run: npm run build --prefix client
